*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.icon{
    width: 2px;
    height: 2px;
}
header {
    background-color: #FFC20E;
    text-align: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/*.................nav ......................*/
nav{
    background-color: #FFD400;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li , a{
    color: black;
}
nav ul li:nth-child(2) button{
    height: 35px;
    padding: 0 12px;
    cursor: pointer;
    background-color: #FFC20E;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;
}
nav ul li:nth-child(2) button:hover{
    background-color: white;
}
nav ul li:nth-child(3) input {
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 15px;
    padding-left: 8px;
    outline: none;
}
nav ul li:nth-child(4) button {
    height: 35px;
    padding: 0 12px;
    cursor: pointer;
    background-color: #FFC20E;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;
}
nav ul li:nth-child(4) button:hover{
    background-color: white;
}
nav ul li:nth-child(5) button{
    height: 35px;
    padding: 0 12px;
    cursor: pointer;
    background-color: #FFC20E;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;
}
nav ul li:nth-child(5) button:hover{
    background-color: white;
}
/* --------------------- menu-bar ----------------------*/
.menu-bar{
    background-color: #FFD400;
}
.menu-bar ul {
    display: flex;
    justify-content: space-between;
}
.menu-bar ul li {
    color: black;
    font-size: 14px;
    padding: 12px 12px;
    transition: all 0.5s;
}
